<div ng-controller="robotStatusCtrl">
    <h4>{{text}}</h4>
    <div class="chose-box">
        <div class="row mt100">
            <div class="col-md-6 col-md-offset-2">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="3">当前机器人信息</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>当前状态</td>
                            <td>无机器人</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mt100">
            <div class="col-md-6 col-md-offset-2">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="3">当前机器人信息</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>当前状态</td>
                            <td>有机器人</td>
                        </tr>
                        <tr>
                            <td>是否到期</td>
                            <td>是 / 否</td>
                        </tr>
                        <tr>
                            <td>是否报盘</td>
                            <td>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="report" ng-model="report" value="ok"> 允许报盘
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="report" ng-model="report" value="no"> 禁止报盘
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="2"><button class="btn btn-primary btn-block">确定</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
