<div class="container-fluid" ng-controller="listCtrl">
    <h4>{{text}}</h4>
    <div class="chose-box row">
        <div class="col-md-4">当前总积分: {{totalPoints}}</div>
        <div class="col-md-4">当前结余积分: {{surplusPoints}}</div>
        <div class="col-md-4">玩家总积分: {{playerPoints}}</div>
    </div>
    <div class="row chose-box">
        <div class="col-md-3">
            <div class="checkbox">
                <label><input type="radio" name="type" value="MANAGER_ADD" ng-model="status" ng-click="change()"> 总盘加积分</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="checkbox">
                <label><input type="radio" name="type" value="MANAGER_SUBTRACT" ng-model="status" ng-click="change()"> 总盘减积分</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="checkbox">
                <label><input type="radio" name="type" value="USER_ADD" ng-model="status" ng-click="change()"> 给玩家上分</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="checkbox">
                <label><input type="radio" name="type" value="USER_SUBTRACT" ng-model="status" ng-click="change()"> 给玩家下分</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="checkbox">
                <label><input type="radio" name="type" value="OFFER" ng-model="status" ng-click="change()"> 报盘</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="checkbox">
                <label><input type="radio" name="type" value="LOTTERY" ng-model="status" ng-click="change()"> 开奖</label>
            </div>
        </div>
    </div>
    <div class="row chose-box">
            <div class="col-md-12">
                <table class="table table-bordered table-striped text-center">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>操作内容</th>
                            <th>时间</th>
                            <th>
                                分盘总积分
                                <div class='th-box'>
                                    操作 <span>|</span> 剩余
                                </div>
                            </th>
                            <th>
                                结余总积分
                                <div class='th-box'>
                                    操作 <span>|</span> 剩余
                                </div>
                            </th>
                            <th>
                                玩家总积分
                                <div class='th-box'>
                                    操作 <span>|</span> 剩余
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='row in tableData track by $index'>
                            <td>{{$index+1}}</td>
                            <td>
                                {{row.type == 'MANAGER_ADD' ? '总盘加积分' : ''}}
                                {{row.type == 'MANAGER_SUBTRACT' ? '总盘减积分' : ''}}
                                {{row.type == 'USER_ADD' ? '给用户上分' : ''}}
                                {{row.type == 'USER_SUBTRACT' ? '给用户下分' : ''}}
                                {{row.type == 'OFFER' ? '报盘' : ''}}
                                {{row.type == 'LOTTERY' ? '开奖' : ''}}
                            </td>
                            <td>{{row.operationTime | date: 'yyyy-MM-dd'}}</td>
                            <td>{{row.operationTotalPoints}}<span class="paddingTips">|</span>{{row.resultTotalPoints}}</td>
                            <td>{{row.operationUserPoints}}<span class="paddingTips">|</span>{{row.resultUserPoints}}</td>
                            <td>{{row.operationMembersPoints}}<span class="paddingTips">|</span>{{row.resultMembersPoints}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>
