<div class="container-fluid" ng-controller="listCtrl">
    <h4>{{text}}</h4>
    <div class="chose-box">
        <ol>
            <li>当前总积分: {{total}}</li>
            <li>当前结余积分: {{surplus}}</li>
            <li>玩家总积分: {{player}}</li>
        </ol>
    </div>
    <div class="row chose-box">
        <div class="col-md-3">
            <div class="checkbox">
                <label><input type="radio" name="type" value="1" ng-model="status" ng-click="change()"> 总盘加积分</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="checkbox">
                <label><input type="radio" name="type" value="2" ng-model="status" ng-click="change()"> 总盘减积分</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="checkbox">
                <label><input type="radio" name="type" value="3" ng-model="status" ng-click="change()"> 给玩家上分</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="checkbox">
                <label><input type="radio" name="type" value="4" ng-model="status" ng-click="change()"> 给玩家下分</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="checkbox">
                <label><input type="radio" name="type" value="5" ng-model="status" ng-click="change()"> 报盘</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="checkbox">
                <label><input type="radio" name="type" value="6" ng-model="status" ng-click="change()"> 开奖</label>
            </div>
        </div>
    </div>
    <div class="row chose-box">
            <div class="col-md-12">
                <table class="table table-bordered table-striped text-center">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>操作内容</th>
                            <th>时间</th>
                            <th>
                                分盘总积分
                                <div class='th-box'>
                                    操作 <span>|</span> 剩余
                                </div>
                            </th>
                            <th>
                                结余总积分
                                <div class='th-box'>
                                    操作 <span>|</span> 剩余
                                </div>
                            </th>
                            <th>
                                玩家总积分
                                <div class='th-box'>
                                    操作 <span>|</span> 剩余
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='row in tableData'>
                            <td ng-repeat='item in row' ng-bind-html='item | splitArrFilter'></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>
