<nav-header select-active='betshowClass'></nav-header>
<div class="" ng-controller='betshowCtrl'>
    <div class="container-fluid realtime-header bg-success">
        <div class="row">
            <div class="col-md-3">
                <h4>北京赛车（PK10）</h4>
                <p>{{racingNum}}期</p>
            </div>
            <div class="col-md-3">
                <h4>今日输赢：{{todayIncome}}</h4>
                <p>距离封盘：{{stopTime}}</p>
            </div>
            <div class="col-md-6">
                <h4 class="old-code">
                    {{preRacingNum}}期开奖：
                    <span ng-repeat='num in preResult' class="color-{{num}}">{{num}}</span>
                </h4>
                <div class="row">
                    <div class='col-md-6'><p>距离开奖：{{startTime}}</p></div>
                    <div class='col-md-6 text-danger'><p>当前阶段：{{nowStatus}}</p></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row chose-box">
            <div class="col-md-3">
                <div class="btn-group">
                    <button ng-class="{'active':nowTab == 'one'}" class="group-item btn btn-primary" ng-click="tabChange('one')">1-5</button>
                    <button ng-class="{'active':nowTab == 'two'}" class="group-item btn btn-primary" ng-click="tabChange('two')">6-10</button>
                    <button ng-class="{'active':nowTab == 'three'}" class="group-item btn btn-primary" ng-click="tabChange('three')">冠亚组合</button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                  <span class="input-group-addon">￥</span>
                  <input type="text" class="form-control" placeholder="请输入押注金额" ng-model="money"/>
                  <span class="input-group-addon">.00</span>
                </div>
            </div>
            <div class="col-md-3">
                <button class="sub btn btn-info" ng-click="confim()">确定</button>
                <button class="reset btn btn-default" clear-td ng-click="reset()">重置</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="table-box_1" class="table-box table-responsive" ng-class="{'disabled':tableDisabled}" ng-show="nowTab == 'one'">
                    <table class="table table-bordered table-striped" >
                        <thead>
                            <tr>
                                <th>冠军</th>
                                <th>亚军</th>
                                <th>第三名</th>
                                <th>第四名</th>
                                <th>第五名</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(rowIndex,row) in tableOne">
                                <td ng-class="{'selected': selectedClass}" ng-repeat="index in [1,2,3,4,5]" my-td row="row" flag="true"  key="{{row.key}}" trid={{rowIndex+1}} selected-obj="selectedObj" rank="{{index}}" tab="tab1" ></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="table-box_2" class="table-box table-responsive" ng-class="{'disabled':tableDisabled}" ng-show="nowTab == 'two'">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <tr>
                                    <th>第六名</th>
                                    <th>第七名</th>
                                    <th>第八名</th>
                                    <th>第九名</th>
                                    <th>第十名</th>
                                </tr>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(rowIndex,row) in tableTwo">
                                <td ng-class="{'selected': selectedClass}" ng-repeat="index in [6,7,8,9,10]" my-td row="row" flag="true"  key="{{row.key}}" trid={{rowIndex+1}} selected-obj="selectedObj" rank="{{index}}" tab="tab2"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="table-box_3" class="table-box table-responsive" ng-class="{'disabled':tableDisabled}" ng-show="nowTab == 'three'">
                    <table class="table table-bordered table-striped" >
                        <thead>
                            <tr>
                                <th colspan="4">冠、亚军和（冠军车号 + 亚军车号 = 和）</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in tableThree">
                                <td ng-class="{'selected': selectedClass}" ng-repeat="(key,value) in row.codeName" my-td row="row" flag="false" key="commonStake" selected-obj="selectedObj" code={{key}} value={{value}} tab="tab3"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-offset-3">
                <div class="input-group">
                  <span class="input-group-addon">￥</span>
                  <input type="text" class="form-control" placeholder="请输入押注金额" ng-model="money"/>
                  <span class="input-group-addon">.00</span>
                </div>
            </div>
            <div class="col-md-3">
                <button class="sub btn btn-info" ng-click="confim()">确定</button>
                <button class="reset btn btn-default" clear-td ng-click="reset()">重置</button>
            </div>
        </div>
    </div>
    <div id="computering" class="pos-box" ng-show='computering'>
        <div class="alert alert-danger text-center">正在计算比赛结果，请稍后。。。</div>
    </div>
    <div id="modifying" class="pos-box" ng-show='modifying'>
        <div class="alert alert-info">
            <h3 class="text-center">拖动数字修改比赛结果修改比赛结果</h3>
            <div class="drag-box" ui-sortable='sortableOptions' ng-model="arrResult">
                <span  ng-repeat='num in arrResult' class="drag-item color-{{num}}">{{num}}</span>
            </div>
            <div class="modify-notice text-center">{{modifyNotice}}</div>
            <div class="text-center">
                <button id="domodify" class="btn btn-primary" ng-click='modifyReslut()'>修改比赛结果</button>
            </div>
        </div>
    </div>
    <div class="mask" ng-show='mask'></div>
    <div class="toast" ng-show='toast'>{{toastMessage}}</div>
</div>
