<div ng-controller="allUserCtrl">
    <h4>{{text}}</h4>
    <div class="chose-box">
        <div class="row mt100">
            <div class="col-md-6 col-md-offset-2">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2">用户信息</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <div class="form-group">
                                  <label class='control-label col-sm-3'>昵称: </label>
                                  <div class="col-sm-7">
                                      <input type="text" class="form-control" ng-model="nickname">
                                  </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="form-group">
                                  <label class='control-label col-sm-3'>密码: </label>
                                  <div class="col-sm-7">
                                      <input type="text" class="form-control" ng-model="password">
                                  </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><button class="btn btn-primary btn-block" ng-click="modify()">修改</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
